{% extends 'base.html' %}
<!---->

{% block content %}
<div class="h3 mb-4">{{ author.prefix }} {{ author.first_name }} {{ author.first_name }}</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Publish Date</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{% url 'detail' article.id %}">{{ article.title }}</a></td>
          <td class="author_td">{{ article.author }}</td>
          <td class="publish_td">{{ article.date_created }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
